// @import 'compass/reset';
// @import 'compass/css3';

/**
 * Import grid settings :
 * This to be able to use gridle mixins, etc...
 */
@import 'grid-settings';
// generate classes :

@include gridle_generate_classes ();
/**
 * Resets
 */
@import 'tools/reset';

/**
 * Variables
 */
@import 'variables';

.container {
  @include gridle_container();
}




body{
  min-height: 100vh;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c7242f+0,ef4136+100 */
 

}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.main-contain{
  background: #504A4A;
  background: url(../images/background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h2.heading{
  text-align: center;
  width: 100%;
  display: block;
}
.main-timeline{
  background: rgba(255, 255, 255, 0.86);
  display: block;
  margin: 0 auto;
  padding-bottom: 30px;
  min-height: 100vh;
  input{
    ::-webkit-input-placeholder { color:#f00; }
    ::-moz-placeholder { color:#f00; } /* firefox 19+ */
    :-ms-input-placeholder { color:#f00; } /* ie */
    input:-moz-placeholder { color:#f00; }
  }
  h2{
    font-size: 22px;
    font-weight: 500;
    letter-spacing: .005em;
    font-weight: bold;
    color: #B17A7A;
  }
  p{
    font-size: 16px;
    line-height: 20px;
    color: #4A4848;
  }
}
