/**
 * Variables
 */
/**
 * Variables
 */
/* line 10, ../sass/grid-mixins.scss */
.my-container {
  max-width: 960px;
  margin: 0 auto;
}
/* line 628, ../sass/gridle/_api.scss */
.my-container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 628, ../sass/gridle/_api.scss */
.state-default .state-default .my-container:after, .state-default .my-container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 8, ../sass/gridle/_driver-default.scss */
.my-row:before, .gallery:before, .my-row:after, .gallery:after {
  content: "";
  display: table;
}
/* line 13, ../sass/gridle/_driver-default.scss */
.my-row:after, .gallery:after {
  clear: both;
}
/* line 17, ../sass/gridle/_driver-default.scss */
.my-row, .gallery {
  zoom: 1;
}

/* line 8, ../sass/gridle/_driver-default.scss */
.state-default .state-default .my-row:before, .state-default .my-row:before, .state-default .state-default .gallery:before, .state-default .gallery:before, .state-default .state-default .my-row:after, .state-default .my-row:after, .state-default .state-default .gallery:after, .state-default .gallery:after {
  content: "";
  display: table;
}
/* line 13, ../sass/gridle/_driver-default.scss */
.state-default .state-default .my-row:after, .state-default .my-row:after, .state-default .state-default .gallery:after, .state-default .gallery:after {
  clear: both;
}
/* line 17, ../sass/gridle/_driver-default.scss */
.state-default .state-default .my-row, .state-default .my-row, .state-default .state-default .gallery, .state-default .gallery {
  zoom: 1;
}
/* line 42, ../sass/gridle/_mixins.scss */
.my-grid-12, .my-grid-6, #site_header,
#site_footer, #site_content, #site_sidebar, .gallery__item {
  display: inline-block;
  min-height: 1px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  padding-right: 10px;
  padding-left: 10px;
}

/* line 47, ../sass/gridle/_mixins.scss */
.state-default .state-default .my-grid-12, .state-default .my-grid-12, .state-default .state-default .my-grid-6, .state-default .my-grid-6, .state-default .state-default #site_header, .state-default .state-default
#site_footer, .state-default #site_header, .state-default
#site_footer, .state-default .state-default #site_content, .state-default #site_content, .state-default .state-default #site_sidebar, .state-default #site_sidebar, .state-default .state-default .gallery__item, .state-default .gallery__item {
  display: inline-block;
  min-height: 1px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  padding-right: 10px;
  padding-left: 10px;
}
/* line 15, ../sass/grid-mixins.scss */
.my-row {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -10px;
  margin-right: -10px;
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-default .my-row {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -10px;
  margin-right: -10px;
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-default .state-default .my-row {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -10px;
  margin-right: -10px;
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-default .state-default .state-default .my-row .state-default .state-default .my-row {
  margin-left: -10px;
  margin-right: -10px;
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-default .state-default .my-row .state-default .my-row {
  margin-left: -10px;
  margin-right: -10px;
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-mobile .state-default .state-default .my-row .state-default .state-default .my-row {
  margin-left: -10px;
  margin-right: -10px;
}
@media screen and (max-width: 700px) {
  /* line 36, ../sass/gridle/_driver-default.scss */
  .state-default .state-default .my-row .state-default .state-default .my-row {
    margin-left: -10px;
    margin-right: -10px;
  }
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-tablet .state-default .state-default .my-row .state-default .state-default .my-row {
  margin-left: -10px;
  margin-right: -10px;
}
@media screen and (min-width: 701px) and (max-width: 1024px) {
  /* line 36, ../sass/gridle/_driver-default.scss */
  .state-default .state-default .my-row .state-default .state-default .my-row {
    margin-left: -10px;
    margin-right: -10px;
  }
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-ipad-landscape .state-default .state-default .my-row .state-default .state-default .my-row {
  margin-left: -15px;
  margin-right: -15px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 36, ../sass/gridle/_driver-default.scss */
  .state-default .state-default .my-row .state-default .state-default .my-row {
    margin-left: -15px;
    margin-right: -15px;
  }
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-default .state-default .my-row .state-default .my-row {
  margin-left: -10px;
  margin-right: -10px;
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-default .my-row .my-row {
  margin-left: -10px;
  margin-right: -10px;
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-mobile .state-default .my-row .state-default .my-row {
  margin-left: -10px;
  margin-right: -10px;
}
@media screen and (max-width: 700px) {
  /* line 36, ../sass/gridle/_driver-default.scss */
  .state-default .my-row .state-default .my-row {
    margin-left: -10px;
    margin-right: -10px;
  }
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-tablet .state-default .my-row .state-default .my-row {
  margin-left: -10px;
  margin-right: -10px;
}
@media screen and (min-width: 701px) and (max-width: 1024px) {
  /* line 36, ../sass/gridle/_driver-default.scss */
  .state-default .my-row .state-default .my-row {
    margin-left: -10px;
    margin-right: -10px;
  }
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-ipad-landscape .state-default .my-row .state-default .my-row {
  margin-left: -15px;
  margin-right: -15px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 36, ../sass/gridle/_driver-default.scss */
  .state-default .my-row .state-default .my-row {
    margin-left: -15px;
    margin-right: -15px;
  }
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-default .my-row {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -10px;
  margin-right: -10px;
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-default .state-default .my-row .state-default .my-row {
  margin-left: -10px;
  margin-right: -10px;
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-default .my-row .my-row {
  margin-left: -10px;
  margin-right: -10px;
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-mobile .state-default .my-row .state-default .my-row {
  margin-left: -10px;
  margin-right: -10px;
}
@media screen and (max-width: 700px) {
  /* line 36, ../sass/gridle/_driver-default.scss */
  .state-default .my-row .state-default .my-row {
    margin-left: -10px;
    margin-right: -10px;
  }
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-tablet .state-default .my-row .state-default .my-row {
  margin-left: -10px;
  margin-right: -10px;
}
@media screen and (min-width: 701px) and (max-width: 1024px) {
  /* line 36, ../sass/gridle/_driver-default.scss */
  .state-default .my-row .state-default .my-row {
    margin-left: -10px;
    margin-right: -10px;
  }
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-ipad-landscape .state-default .my-row .state-default .my-row {
  margin-left: -15px;
  margin-right: -15px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 36, ../sass/gridle/_driver-default.scss */
  .state-default .my-row .state-default .my-row {
    margin-left: -15px;
    margin-right: -15px;
  }
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-default .my-row .my-row {
  margin-left: -10px;
  margin-right: -10px;
}
/* line 36, ../sass/gridle/_driver-default.scss */
.my-row .my-row {
  margin-left: -10px;
  margin-right: -10px;
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-mobile .my-row .my-row {
  margin-left: -10px;
  margin-right: -10px;
}
@media screen and (max-width: 700px) {
  /* line 36, ../sass/gridle/_driver-default.scss */
  .my-row .my-row {
    margin-left: -10px;
    margin-right: -10px;
  }
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-tablet .my-row .my-row {
  margin-left: -10px;
  margin-right: -10px;
}
@media screen and (min-width: 701px) and (max-width: 1024px) {
  /* line 36, ../sass/gridle/_driver-default.scss */
  .my-row .my-row {
    margin-left: -10px;
    margin-right: -10px;
  }
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-ipad-landscape .my-row .my-row {
  margin-left: -15px;
  margin-right: -15px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 36, ../sass/gridle/_driver-default.scss */
  .my-row .my-row {
    margin-left: -15px;
    margin-right: -15px;
  }
}

/* line 18, ../sass/grid-mixins.scss */
.my-grid-12 {
  width: 100%;
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-default .my-grid-12 {
  width: 100%;
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-default .state-default .my-grid-12 {
  width: 100%;
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-ipad-landscape .state-default .state-default .my-grid-12 {
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 25px;
  padding-left: 15px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 387, ../sass/gridle/_mixins.scss */
  .state-default .state-default .my-grid-12 {
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 15px;
  }
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-ipad-landscape .state-default .my-grid-12 {
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 25px;
  padding-left: 15px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 387, ../sass/gridle/_mixins.scss */
  .state-default .my-grid-12 {
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 15px;
  }
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-default .my-grid-12 {
  width: 100%;
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-ipad-landscape .my-grid-12 {
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 25px;
  padding-left: 15px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 18, ../sass/grid-mixins.scss */
  .my-grid-12 {
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 15px;
  }
}

/* line 21, ../sass/grid-mixins.scss */
.my-grid-6 {
  width: 50%;
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-default .my-grid-6 {
  width: 50%;
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-default .state-default .my-grid-6 {
  width: 50%;
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-ipad-landscape .state-default .state-default .my-grid-6 {
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 25px;
  padding-left: 15px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 387, ../sass/gridle/_mixins.scss */
  .state-default .state-default .my-grid-6 {
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 15px;
  }
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-ipad-landscape .state-default .my-grid-6 {
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 25px;
  padding-left: 15px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 387, ../sass/gridle/_mixins.scss */
  .state-default .my-grid-6 {
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 15px;
  }
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-default .my-grid-6 {
  width: 50%;
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-ipad-landscape .my-grid-6 {
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 25px;
  padding-left: 15px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 21, ../sass/grid-mixins.scss */
  .my-grid-6 {
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 15px;
  }
}

/* line 25, ../sass/grid-mixins.scss */
#site_header,
#site_footer {
  width: 100%;
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-default #site_header, .state-default
#site_footer {
  width: 100%;
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-default .state-default #site_header, .state-default .state-default
#site_footer {
  width: 100%;
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-ipad-landscape .state-default .state-default #site_header, .state-ipad-landscape .state-default .state-default
#site_footer {
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 25px;
  padding-left: 15px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 387, ../sass/gridle/_mixins.scss */
  .state-default .state-default #site_header, .state-default .state-default
  #site_footer {
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 15px;
  }
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-ipad-landscape .state-default #site_header, .state-ipad-landscape .state-default
#site_footer {
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 25px;
  padding-left: 15px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 387, ../sass/gridle/_mixins.scss */
  .state-default #site_header, .state-default
  #site_footer {
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 15px;
  }
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-default #site_header, .state-default
#site_footer {
  width: 100%;
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-ipad-landscape #site_header, .state-ipad-landscape
#site_footer {
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 25px;
  padding-left: 15px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 25, ../sass/grid-mixins.scss */
  #site_header,
  #site_footer {
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 15px;
  }
}

/* line 29, ../sass/grid-mixins.scss */
#site_content {
  width: 66.66667%;
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-default #site_content {
  width: 66.66667%;
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-default .state-default #site_content {
  width: 66.66667%;
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-ipad-landscape .state-default .state-default #site_content {
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 25px;
  padding-left: 15px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 387, ../sass/gridle/_mixins.scss */
  .state-default .state-default #site_content {
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 15px;
  }
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-ipad-landscape .state-default #site_content {
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 25px;
  padding-left: 15px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 387, ../sass/gridle/_mixins.scss */
  .state-default #site_content {
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 15px;
  }
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-default #site_content {
  width: 66.66667%;
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-ipad-landscape #site_content {
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 25px;
  padding-left: 15px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 29, ../sass/grid-mixins.scss */
  #site_content {
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 15px;
  }
}

/* line 32, ../sass/grid-mixins.scss */
#site_sidebar {
  width: 33.33333%;
  background: blue;
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-default #site_sidebar {
  width: 33.33333%;
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-default .state-default #site_sidebar {
  width: 33.33333%;
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-ipad-landscape .state-default .state-default #site_sidebar {
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 25px;
  padding-left: 15px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 387, ../sass/gridle/_mixins.scss */
  .state-default .state-default #site_sidebar {
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 15px;
  }
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-ipad-landscape .state-default #site_sidebar {
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 25px;
  padding-left: 15px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 387, ../sass/gridle/_mixins.scss */
  .state-default #site_sidebar {
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 15px;
  }
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-default #site_sidebar {
  width: 33.33333%;
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-ipad-landscape #site_sidebar {
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 25px;
  padding-left: 15px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 32, ../sass/grid-mixins.scss */
  #site_sidebar {
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 15px;
  }
}

/* line 37, ../sass/grid-mixins.scss */
.gallery {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -10px;
  margin-right: -10px;
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-default .gallery {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -10px;
  margin-right: -10px;
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-default .state-default .gallery {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -10px;
  margin-right: -10px;
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-default .state-default .state-default .gallery .state-default .state-default .gallery {
  margin-left: -10px;
  margin-right: -10px;
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-default .state-default .gallery .state-default .gallery {
  margin-left: -10px;
  margin-right: -10px;
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-mobile .state-default .state-default .gallery .state-default .state-default .gallery {
  margin-left: -10px;
  margin-right: -10px;
}
@media screen and (max-width: 700px) {
  /* line 36, ../sass/gridle/_driver-default.scss */
  .state-default .state-default .gallery .state-default .state-default .gallery {
    margin-left: -10px;
    margin-right: -10px;
  }
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-tablet .state-default .state-default .gallery .state-default .state-default .gallery {
  margin-left: -10px;
  margin-right: -10px;
}
@media screen and (min-width: 701px) and (max-width: 1024px) {
  /* line 36, ../sass/gridle/_driver-default.scss */
  .state-default .state-default .gallery .state-default .state-default .gallery {
    margin-left: -10px;
    margin-right: -10px;
  }
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-ipad-landscape .state-default .state-default .gallery .state-default .state-default .gallery {
  margin-left: -15px;
  margin-right: -15px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 36, ../sass/gridle/_driver-default.scss */
  .state-default .state-default .gallery .state-default .state-default .gallery {
    margin-left: -15px;
    margin-right: -15px;
  }
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-default .state-default .gallery .state-default .gallery {
  margin-left: -10px;
  margin-right: -10px;
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-default .gallery .gallery {
  margin-left: -10px;
  margin-right: -10px;
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-mobile .state-default .gallery .state-default .gallery {
  margin-left: -10px;
  margin-right: -10px;
}
@media screen and (max-width: 700px) {
  /* line 36, ../sass/gridle/_driver-default.scss */
  .state-default .gallery .state-default .gallery {
    margin-left: -10px;
    margin-right: -10px;
  }
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-tablet .state-default .gallery .state-default .gallery {
  margin-left: -10px;
  margin-right: -10px;
}
@media screen and (min-width: 701px) and (max-width: 1024px) {
  /* line 36, ../sass/gridle/_driver-default.scss */
  .state-default .gallery .state-default .gallery {
    margin-left: -10px;
    margin-right: -10px;
  }
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-ipad-landscape .state-default .gallery .state-default .gallery {
  margin-left: -15px;
  margin-right: -15px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 36, ../sass/gridle/_driver-default.scss */
  .state-default .gallery .state-default .gallery {
    margin-left: -15px;
    margin-right: -15px;
  }
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-default .gallery {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -10px;
  margin-right: -10px;
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-default .state-default .gallery .state-default .gallery {
  margin-left: -10px;
  margin-right: -10px;
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-default .gallery .gallery {
  margin-left: -10px;
  margin-right: -10px;
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-mobile .state-default .gallery .state-default .gallery {
  margin-left: -10px;
  margin-right: -10px;
}
@media screen and (max-width: 700px) {
  /* line 36, ../sass/gridle/_driver-default.scss */
  .state-default .gallery .state-default .gallery {
    margin-left: -10px;
    margin-right: -10px;
  }
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-tablet .state-default .gallery .state-default .gallery {
  margin-left: -10px;
  margin-right: -10px;
}
@media screen and (min-width: 701px) and (max-width: 1024px) {
  /* line 36, ../sass/gridle/_driver-default.scss */
  .state-default .gallery .state-default .gallery {
    margin-left: -10px;
    margin-right: -10px;
  }
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-ipad-landscape .state-default .gallery .state-default .gallery {
  margin-left: -15px;
  margin-right: -15px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 36, ../sass/gridle/_driver-default.scss */
  .state-default .gallery .state-default .gallery {
    margin-left: -15px;
    margin-right: -15px;
  }
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-default .gallery .gallery {
  margin-left: -10px;
  margin-right: -10px;
}
/* line 36, ../sass/gridle/_driver-default.scss */
.gallery .gallery {
  margin-left: -10px;
  margin-right: -10px;
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-mobile .gallery .gallery {
  margin-left: -10px;
  margin-right: -10px;
}
@media screen and (max-width: 700px) {
  /* line 36, ../sass/gridle/_driver-default.scss */
  .gallery .gallery {
    margin-left: -10px;
    margin-right: -10px;
  }
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-tablet .gallery .gallery {
  margin-left: -10px;
  margin-right: -10px;
}
@media screen and (min-width: 701px) and (max-width: 1024px) {
  /* line 36, ../sass/gridle/_driver-default.scss */
  .gallery .gallery {
    margin-left: -10px;
    margin-right: -10px;
  }
}
/* line 36, ../sass/gridle/_driver-default.scss */
.state-ipad-landscape .gallery .gallery {
  margin-left: -15px;
  margin-right: -15px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 36, ../sass/gridle/_driver-default.scss */
  .gallery .gallery {
    margin-left: -15px;
    margin-right: -15px;
  }
}

/* line 40, ../sass/grid-mixins.scss */
.gallery__item {
  width: 33.33333%;
  height: 50px;
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-default .gallery__item {
  width: 33.33333%;
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-default .state-default .gallery__item {
  width: 33.33333%;
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-ipad-landscape .state-default .state-default .gallery__item {
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 25px;
  padding-left: 15px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 387, ../sass/gridle/_mixins.scss */
  .state-default .state-default .gallery__item {
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 15px;
  }
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-ipad-landscape .state-default .gallery__item {
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 25px;
  padding-left: 15px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 387, ../sass/gridle/_mixins.scss */
  .state-default .gallery__item {
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 15px;
  }
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-default .gallery__item {
  width: 33.33333%;
}
/* line 387, ../sass/gridle/_mixins.scss */
.state-ipad-landscape .gallery__item {
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 25px;
  padding-left: 15px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 40, ../sass/grid-mixins.scss */
  .gallery__item {
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 15px;
  }
}

/**
 * Debug grid
 */
/* line 50, ../sass/grid-mixins.scss */
#site_sidebar,
#site_content,
#site_header,
#site_footer {
  background: #eaedef;
  border: 1px solid #dce1e4;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 59, ../sass/grid-mixins.scss */
#site_sidebar:before,
#site_content:before,
#site_header:before,
#site_footer:before {
  display: block;
  content: attr(class);
  font-weight: bold;
}
